{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/providers/(.*)$",
		"^@/actions/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderBuiltinModulesToTop": true,
	"importOrderMergeDuplicateImports": true,
	"importOrderCombineTypeAndValueImports": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"plugins": [
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	]
}
